<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lythos</title>
<link href="../stylesheets/default.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/nbw-parallax.js"></script>
<script type="text/javascript" src="../javascripts/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="../javascripts/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="../javascripts/jquery.inview.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#nav').localScroll();
})
</script>
</head>

<body>

<ul id="nav">
	<li><a href="#intro" title="Next Section"><img src="../images/dot.png" alt="Link" /></a></li>
    <li><a href="#second" title="Next Section"><img src="../images/dot.png" alt="Link" /></a></li>
    <li><a href="#third" title="Next Section"><img src="../images/dot.png" alt="Link" /></a></li>
  
    	
</ul>

<div id="intro">
	<div id='top-bar'>
		<a href='#'>xxx</a><a href='#'>aaa</a>
	</div>
	<div id='bg_top_triangle'>
			<img src="../images/bg_top_triangle.png" alt="" width="470" height="940">
	</id>
	<div class="story">
		<div id='menu'>
			<a href='#' class='produtos'>Produtos</a><img src='../images/logo_lythos.png' /><a href='#' class='contatos'>Contatos</a>
		</div>
    	<div id="tit-intro">
			<img src="../images/inocacao.png" alt="" width="1001" height="264">
        </div>
    </div>
	
</div>

<div id="second">
	<div class="story"><div class="bg"></div>
    	<div class="float-right"></div>
    </div>
    
</div>

<div id="third">
	<div class="story"></div> <!--.story-->
</div> 

<div id="fourth">
	<div class="story"></div> <!--.story-->
</div> 

</body>
</html>
